* {
    box-sizing: border-box;
}
html{
    padding: 0;
    margin: 0;
}
body {
    font-family: arial, sans-serif;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.top-nav {
    max-width: 50%;
    float: right;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.top-nav div{
    display: inline-block;
    margin: 0 10px;
    padding: 10px 0;
}
.top-nav a {
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    color: rgba(0,0,0,0.87);
    font-size: 13px;
}
.top-nav .google-apps {
    background-image: url('https://ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 86px;
    background-position: -132px -53px;
    opacity: .55;
    width: 30px;
    height: 24px;
}
.google-apps a {
    width: 30px;
    height: 30px;
}
#login {
    color: rgb(255, 255, 255);
    cursor: default;
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: linear-gradient(top, #4387fd, #4683ea);
    background: -moz-linear-gradient(top, #4387fd, #4683ea);
    line-height: 28px;
    padding: 6px 12px;
    border-radius: 2px;
}
.main-wrapper {
    width: 100%;
    padding-top: 35px;
}
.main {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}
.logo {
    margin-top: 89px;
}
.logo img {
    padding-top: 109px;
}
.searchform {
    position: absolute;
    top: 311px;
    min-width: 980px;
    margin-top: 0;
}
.searchform form {
    width: 833px;
    margin: 0 auto;
    overflow: visible;
    background: none;
    padding: 40px 0;
    display: flex;
}
.search-wrapper {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
    width: 482px;
    padding: 5px 8px 0 20px;
    transition: all 0.1s ease-in-out;
}
.search-wrapper:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
.search-field {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.87);
    word-wrap: break-word;
    display: flex;
    width: 100%;
    line-height: 34px;
    height: 34px;
    font-size: 16px;
    font-family: arial, sans-serif;
    font-weight: 400;
}
.keyboard {
    display: flex;
    position: absolute;
    right: 280px;
    height: 44px;
}
.keyboard span {
    background: url("https://www.gstatic.com/inputtools/images/tia.png") no-repeat center;
    width: 24px;
    height: 100%;
    align-items: center;
}

.buttons {
    height: 70px;
    padding-top: 18px;
    position: absolute;
    clear: both;
    top: 103px;
    left: 0;
    right: 0;
}
.btns-holder {
    margin: 0 auto;
    width: 483px;
}
.btns-holder input[type="submit"] {
    display: inline-block;
    height: 36px;
    line-height: 27px;
    background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    border: none;
    margin: 5px;
}
.btns-holder input[type="submit"]:hover {
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    color: #222;
    font-size: 13px;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}
.footer ul {
    margin: 0;
    padding: 0;
}
.footer ul li {
    display: inline-block;
    text-decoration: none;
    margin-left: 30px;
}
.footer a {
    color: #5f6368;
    
}
.footer a:hover {
    text-decoration: underline;
}
.left-footer {
    float: left;
}
.right-footer {
    float: right;
    margin-right: 30px;
}